{% extends 'base.html.twig' %}

{% block body %}
        <h1>Iniciar sesion</h1>
        <hr>

        {% if error %} <!-- si el usuario o la contaseña no son correctas imprime un mensaje de error-->
            <div class="alert alert-danger alert-dismissibre">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                {% if error.messageKey == "Invalid credentials." %}<!--si el mensaje de error es este imprime lo que hay dentro -->
                El usuario o la contraseña no son correctos.
                {% else %}
                    {{ error.messageKey|trans(error.messageData, 'security') }}<!-- esta seria la forma de imprimir el error por defecto-->
                {% endif %}
            </div>
        {% endif %}

        <form class="form-horizontal" action="{{ path('login') }}" method="post"><!--formulario del login-->

            <div class="form-group">
                <div class="col-xs-12">
                    <label class="label-control" for="correo">Correo</label>
                    <input class="form-control"  type="text" id="correo" name="_username" value="{{ correo_previo }}" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="label-control" for="contrasena">Contraseña</label>
                    <input class="form-control"  type="password" id="contrasena" name="_password" required><!-- con el requied hago que el campo sea obligatorio-->
                    <input type="hidden" name="_target_path" value="/">
                </div>
            </div>
            <div class="form-group">
                <div class="col text-center">
                    <button class="pull-center btn btn-primary" type="submit">Login</button>
                </div>
            </div>
        </form>
{% endblock %}
